################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Two_Sum/CopilotIndices/17.13.433.20974
/.vs/Two_Sum/FileContentIndex/0b0fc0b6-ea68-4740-90ff-f2987fd37b70.vsidx
